.row
	.col-sm-4
		h4 地址: #{firm.addr}
		div(style="height:5px")
		h4 电话: #{firm.tel}
	.col-sm-4
		- let cterCp = new Object();
		if order.cter
			- cterCp = order.cter;
		h4 客户: #{cterCp.nome}
		div(style="height:5px")
		h4 电话: #{cterCp.tel}
	.col-sm-4
		h5 No: #{order.code}
		h5 Date: #{moment(order.ctAt).format('DD/MM/YYYY')}
div(style="height:20px")