.row
	.col-12
		h3 #{firm.code}
		table.table.border.mt-3
			tr
				td 公司名称
				td #{firm.nome}
			tr
				td 电话:
				td #{firm.tel}
			tr
				td 联系人: 
				td #{firm.resp}
			tr
				td 地址:
				td #{firm.addr}
			tr
				td 邮编:
				td #{firm.post}
			tr
				td 城市:
				td #{firm.city}
			tr
				td 国家:
				td #{firm.nation}
			tr
				td IVA:
				td #{firm.iva}
			tr
				td C.F.:
				td #{firm.cf}
			tr
				td 银行:
				td #{firm.bank}
			tr
				td iban:
				td #{firm.iban}